
<%  title(@project.name, "Projects") %>
<%  @project.name %>
<br><br><br><br><br>
<table border="1" cellspacing = 5 cellpadding = 5 align = center>
  <tr>
    <td colspan="3" align=center> PROJECT DETAILS </td>
  </tr>
  <tr>
    <td>Project_ID </td>
    <td>Project_Name</td>
    <td>Description</td>
  </tr>


  <tr>
    <td><%= @project.id %></td>
    <td><%= @project.name %></td>
    <td><%= @project.description %></td>
  </tr>

  <tr>
    <td colspan="3" align=center>
      <table cellpadding = 10 cellspacing = 10>
        <tr>
          <td>
              <%= link_to 'Edit Project',edit_project_path(@project)%>
          </td>

          <td>
          <%= link_to "Delete Project",
                project_path(@project),
                method: :delete,
                data: { confirm:
                          "Are you sure you want to delete this project?"
                      } %>

          </td>

          <td>
            <%= link_to "New Ticket", new_project_ticket_path(@project)%>
          </td>
      </tr>
      </table>
    </td>
  </tr>

</table>






<ul id='tickets'>
  <% @project.tickets.each do |ticket| %>
  <li>
    #<%= ticket.id %> -
    <%= link_to ticket.title, [@project, ticket] %>
  </li>
  <% end %>
</ul>
