
<%= form_for [@project, @ticket] do |f|%>
  <% if @ticket.errors.any? %>
    <div id='error_explination'>
      <h2> <%= pluralize(@ticket.errors.count, "error") %>
        Prohibit this ticket from being saved.
      </h2>
      <ul>
        <% @ticket.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br><br><br><br>
<table cellpadding = "10" cellspacing = "10" border="1" align  = "center">
  <tr > 
    <td colspan = "2" align = center>
      <h2> New Ticket </h2>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :title %> <br />

    </td>
    <td>
      <%= f.text_field :title %>
    </td>
  </tr>

  <tr>
    <td>
      <%= f.label :description %>

    </td>
    <td>
      <%= f.text_area :description %>
    </td>
  </tr>

  <tr>
    <td colspan="2" align = "right">
        <%= f.submit %>
    </td>
  </tr>
</table>



  <% end %>
