<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:</h2>
        <ul>
          <% @ticket.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

<table align="center" cellspacing = 10 cellpadding = 10 border = 1>
    <tr align = center>
      <td colspan = "2">
        <h3> User Sign Up Area </h3>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :name, "username" %>
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :email %><br>
      </td>
      <td>
        <%= f.text_field :email%>
      </td>
    </tr>

    <tr>
      <td>
      <%= f.label :password %><br>
      </td>
      <td>
        <%= f.password_field :password %>
      </td>
    </tr>

    <tr>
      <td>
      <%= f.label :password_confirmation%><br>
      </td>
      <td>
        <%= f.password_field :password_confirmation %>
      </td>
    </tr>

    <tr>
      <td colspan="2" align = "right">
        <% if @user.new_record? %>
          <%= f.submit "Sign up" %>
        <% else %>
          <%= f.submit "Update Profile" %>
        <% end %>

      </td>
    </tr>

</table>


<% end %>
