

<%= form_for :signin, method: "POST" do |f| %>

<br><br><br><br><br><br><br><br><br>
<table align = "center" cellpadding = "5" cellspacing = "5" border = "1">
    <tr>
      <td colspan="2" align = "center">
          <h2>User Sing In </h2>
      </td>

    </tr>

    <tr>
      <td>
        <%= f.label :name %><br />
      </td>
      <td>
        <%= f.text_field :name %>
      </td>
    </tr>

    <tr>
      <td>
        <%= f.label :password %>

      </td>
      <td>
        <%= f.password_field :password%>
      </td>
    </tr>

    <tr>
      <td colspan="2" align="right">
        <%= f.submit "Sign in"%>
      </td>
    </tr>

</table>

<% end %>
